<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            <marquee>display_student details....</marquee>
        </h1>
        <table border="2px">
            <tr>
                <th>SNAME</th>
                <th>SID</th>
                <th>EMAIL</th>

            </tr>
            {% for so in QSSO %}
            <tr>
                <td>{{so.Sname}}</td>
                <td>{{so.Sid}}</td>
                <td>{{so.Email}}</td>
            </tr>
            {% endfor %}

        </table>
    </center>
</body>
</html>